# BGP datasets
data/raw_data/*
data/processed_data/*
data/output/*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv_bmp/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment / secrets
.env
